/* static/css/style.css */
body {
    background-color: #f8f9fa;
}
.navbar-brand {
    font-weight: bold;
}
.card {
    margin-bottom: 20px;
}
.camera-list .card {
    min-height: 150px;
}
.camera-list .camera-image {
    width: 100%;
    max-height: 300px; /* Ограничение высоты для камер */
    object-fit: contain; /* Сохраняет пропорции без обрезки */
}
.camera-stream {
    position: relative;
}
.pagination {
    justify-content: center;
}
.table th, .table td {
    vertical-align: middle;
}
.table input[type="text"] {
    width: 100%;
    box-sizing: border-box;
}
.table .form-check {
    text-align: center;
}
.list-group-item {
    font-size: 1.1rem;
}
.badge {
    font-size: 0.9rem;
}
.col-md-3 h2 {
    font-size: 1.5rem; /* Уменьшенный шрифт для заголовка здания */
}